
    {% extends 'TravelTicket/admin/base.html' %}

    {% block css %}
        <style>
                #LigneForm {
                    display: none;
                }

                #LigneForm.show {
                    display: block;
                }
            
           /* .form-select {
                display: block;
                width: 100%;
               
            } */
             
            @keyframes fadeIn {
                from { opacity: 0; transform: translateY(-10px); }
                to { opacity: 1; transform: translateY(0); }
            }      .select2-container--default .select2-selection--multiple {
                min-height: 50px;
                padding: 5px;
            }
            .select2-container--default .select2-selection--multiple .select2-selection__choice {
                background-color: #e9f5ff;
                border-color: #f6ea80;
                color: #747b29;
                padding: 0 8px;
                margin-top: 5px;
                border-radius: 10px;
            }
            .select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
                color: #0d6efd;
                margin-right: 5px;
            }
        
        </style>


    {% endblock css %}


{% block content %}

    <div class="main-content " style="position: relative; top: 50px;">
        <div class="col-12">
                <h4 class="mb-4"><i class="fas fa-road  me-2"></i>Planning</h4>
                
                <!-- Bouton Ajouter Ville -->
                <button id="showFormBtn" class="btn btn-warning mb-4">
                    <i class="fas fa-plus-circle me-2"></i>Ajouter un planning
                </button>
        </div>
        <div class="card shadow" id="LigneForm">
            <div class=" d-flex justify-content-between align-items-start mb-3 card-header bg-white text-warning mb-2 p-2 border-2 border-warning shadow">

                <h6><i class="fas fa-tags me-2"></i>Nouvelle planification</h6>
                <button type="button" id="cancelBtn" class="btn btn-link p-0" aria-label="Fermer">
                    <i class="fas fa-times fs-4 text-secondary"></i>
                </button>
            </div>
           

            <div class="card-body container-fluid">
                <form method="post" id="addLigneForm" action="{% if id_edit %}{% url 'planning_edit' id_edit %}{% else %}{% url 'planning' %}{% endif %}">
                    {% csrf_token %}
                    <input type="text" name="id_edit" value="{{ id_edit|default:'' }}" id="id_edit" hidden>

                    <div class="row">
                        <div class=" col-md-12">
                            <label for="ligne" class="form-label fw-bold d-block">
                                Ligne
                            </label>
                            {{ form.ligne }}
                        </div>
                       
                    
                    </div> 
                    
                    <div class="row">
                         <div class="col-md-4">
                            <label for="typevoyage" class="form-label fw-bold d-block">
                                Type Voyage
                            </label>
                            {{ form.typevoyage }}
                        </div>
                         

                        <div class="mb-4 col-md-4">
                            <label for="date" class="form-label fw-bold d-block">
                                Dates
                            </label>
                            {{ form.date }}
                        </div>

                        <div class="mb-4 col-md-4">
                            <label for="horaire" class="form-label  fw-bold d-block">
                                Horaire
                            </label>
                            {{ form.horaire }}
                        </div>
                    
                    </div>

                     <div class="d-grid">
                            <button type="submit" class="btn btn-outline-warning btn-sm">
                                <i class="fas fa-save me-2"></i> 
                                {% if id_edit %}
                                    Modifier Ligne
                                {% else %}
                                Ajouter Ligne
                                {% endif %}

                            </button>
                    </div>
                </form>
            </div>
        </div>

                 


        <!-- Section Filtre et Affichage -->
        <div class="row mt-4">
            <div class="col-12">
                <div class="filter-section p-2">
                    <h6 class="mb-4 p-0"><i class="fas fa-filter me-1"></i>Depart</h6>
                    <div class="row">
                        <div class="col-md-4 mb-3 " style="position: relative; top: -25px;">
                            <input type="text" class="form-control" id="searchCity" placeholder="Rechercher par nom...">
                        </div>
                       
                    </div>
                </div>
                
                <!-- Liste des Villes -->
                <div class="table-responsive">
                    <table class="table table-hover align-middle">
                        <thead class="table-light">
                            <tr>
                                <th>N* Planning</th>
                                <th>Ligne</th>
                                <th>Date</th>
                                <th>Voir</th>

                                <th>Actions</th>
                               
                            </tr>
                        </thead>
                        <tbody id="citiesList">
                            {%if plannings %}
                                {% for planning in plannings %}
                                <tr class="city-card">
                                    <td>{{ planning.id }}</td>
                                    <td>{{ planning.ligne }}</td>
                                    <td>{{ planning.datecreate }}</td>

                                    <td>
                                        <a href="{% url 'voyage_planning' planning.id %}" class="btn btn-sm btn-outline-success me-5 editCityBtn" data-id="{{ planning.id }}" 
                                             
                                              >
                                                Voyages
                                            </a>
                                        
                                    </td>
                                     <td>
                                            <a href="{% url 'planning_edit' planning.id %}" class="btn btn-sm btn-outline-primary me-5 editCityBtn" data-id="{{ planning.id }}" 
                                             
                                              >
                                                <i class="fas fa-edit"></i>
                                            </a>
                                            <a href="{% url 'planning_delete' planning.id %}" class="btn btn-sm btn-outline-danger" onclick="return confirm('Supprimer Planning ?');">
                                                <i class="fas fa-trash-alt"></i>
                                            </a>
                                            
                                        </td>
                                </tr>
                                {% endfor %}
                            {% else %}
                                <tr>
                                    <td colspan="5" class="text-center text-muted">Aucune planification de ligne enregistrée</td>
                                </tr>
                            {% endif %}

                            
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}

    <!-- JavaScript Libraries -->
    <!-- <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script> -->
{% block scripts %}        
    
    <script>

             $(document).ready(function() {
            // Afficher/Masquer le formulaire
            $('#showFormBtn').click(function() {
                $('#LigneForm').toggleClass('show');
                $(this).toggleClass('btn-primary btn-outline-warrning');
                // $(this).html($(this).hasClass('btn-outline-primary') ? 
                //     '<i class="fas fa-plus-circle me-2"></i>Ajouter une ville' : 
                //     '<i class="fas fa-times me-2"></i>Fermer');
            });
            
            // Annuler l'ajout
            $('#cancelBtn').click(function() {
                $('#LigneForm').removeClass('show');
                // $('#showFormBtn').removeClass('btn-outline-warrning').addClass('btn-warrning')
                //     .html('<i class="fas fa-plus-circle me-2"></i>Ajouter une Ligne');
                $('#addLigneForm')[0].reset();
            });
            

        });

    // $(document).ready(function() {
    // $('.editCityBtn').click(function(e) {
        // e.preventDefault(); // éviter le comportement normal du lien
        // var villeId = $(this).data('id');
        // window.location.href = "TravelTicket/admin/ville/edit/" + villeId + "/";

        

        // Afficher le formulaire
    //     $('#cityForm').show();


    // });
    // });

        </script>

        {% if id_edit %}
            <script>
                $(document).ready(function() {
                    $('#LigneForm').show();  // Affiche le formulaire automatiquement
                    // $('#submitBtn').html('<i class="fas fa-save me-2"></i>Modifier');
                });
            </script>
        {% endif %}

        <script>
             $(document).ready(function() {
            // Initialisation de Select2 avec formatage des options
            $('#arrets').select2({
                templateResult: formatOption,
                templateSelection: formatOption,
                placeholder: "Sélectionnez des Arrets",
                allowClear: true
            });

              $('#typevoyage').select2({
                templateResult: formatOption,
                templateSelection: formatOption,
                placeholder: "Sélectionnez Type de Voyage",
                allowClear: true
            });

               $('#horaire').select2({
                templateResult: formatOption,
                templateSelection: formatOption,
                placeholder: "Sélectionnez les Horaires",
                allowClear: true
            });
            $('#date').select2({
                templateResult: formatOption,
                templateSelection: formatOption,
                placeholder: "Sélectionnez les Horaires",
                allowClear: true
            });

            function formatOption(option) {
                if (!option.id) return option.text;
                const icon = $(option.element).data('icon');
                return $('<span><i class="' + icon + ' me-2"></i>' + option.text + '</span>');
            }
        });

        </script>

        <script>
            flatpickr("#horaire", {
                enableTime: true,          // Active le sélecteur d'heure
                noCalendar: true,          // Cache le calendrier (uniquement l'heure)
                dateFormat: "H:i",         // Format de l'heure 24h (HH:MM)
                time_24hr: true,           // Format 24h (sinon AM/PM)
                mode: "multiple" ,
                locale: "fr"          // Facultatif : permet de choisir plusieurs heures
            });
        </script>


        

    {% endblock scripts %}

    <!-- <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script> -->


