:root {
    --o-vert: #28a745;
    --una-vert: #42924D;
    --una-bleu: #4498D9;
    --una-rouge: #DB3832;
    --una-gris: #7E7F81;
    --bg-main: rgba(37,99,235, 1);
    --bg-title: rgba(37,99,235, 1);
}
